services:
    fivefilters-full-text-rss:
        container_name: full-text-rss
        ports:
            - 50000:80
        restart: always
        image: heussd/fivefilters-full-text-rss:latest
    freshrss:
        container_name: freshrss
        environment:
            - PUID=1000
            - PGID=1000
            - TZ=America/Chicago
            - CRON_MIN='2,32'
        ports:
            - 49999:80
        volumes:
            - ./data:/config
        restart: unless-stopped
        image: lscr.io/linuxserver/freshrss:latest
